
    <div class="container">   
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">         
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
            </div>

            <div class="col-xs-9 col-xs-offset-1">
              <strong style="font-size:x-large">Customer Comments</strong>
              Sort by : <input type="text" ng-model="dish.order">
              <blockquote ng-repeat="comment in dish.comments | orderBy: dish.order">
                <p>{{comment.rating}} Stars <br>
                    {{comment.comment}}
                </p>
                <footer>{{comment.author}} {{comment.date | date : 'mediumDate'}} </footer>
              </blockquote>
            </div>

            <!--  ASSIGNMENT 2 TASK 1
                    Definition of the section containing the preview comment when the form is valid and the form itself
                    The preview use the two way binding to show the comment. ng-show="feedbackForm.$valid" show the form only
                    when the form is valid-
            -->
            <div class="col-sm-9 col-xs-offset-1" ng-controller="DishCommentController">
              <blockquote ng-show="feedbackForm.$valid">
                <p>{{comment.rating}} Stars <br>
                    {{comment.comment}}
                </p>
                <footer>{{comment.author}} {{comment.date | date : 'mediumDate'}} </footer>
              </blockquote>            

              <!-- Here start the form containing the 3 form-group Name, Rating and Comment-->
               <form class="form-horizontal" name="feedbackForm" ng-submit="submitComment()" novalidate>
                    <!-- The form-group Name is manadatory (required).-->
                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.Name.$error.required && !feedbackForm.Name.$pristine }">
                        <label for="Name" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Your Name" ng-model="comment.author" required>
                        <span ng-show="feedbackForm.Name.$error.required && !feedbackForm.Name.$pristine" class="help-block">Your Name is required.</span>
                        </div>
                    </div>
        
                    <!-- The 5 different options loop on an array defined in the variable stars defined in DishDetailController -->
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Number of Stars</label>
                      <div class="col-xs-12 col-sm-6">
                        <label class="radio-inline" ng-repeat="star in stars">
                          <input type="radio" name="rating" value="{{star}}" ng-model="comment.rating"> {{star}}
                        </label>
                      </div>
                    </div>

                    <!-- The form-group comment is manadatory (required).-->
                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="comment.comment" required>
                            </textarea>
                            <span ng-show="feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine" class="help-block">Comment is required.</span>
                        </div>
                    </div> 

                    <!-- The submit button is enable only if the form is valid-->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>