
        <div class="row row-content">
            <div class="col-xs-12">        
                <h1>Dettaglio Log {{server}}</h1>

                <div class="row">
                    <div class="col-md-1">

                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Servers
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li ng-repeat="(key, value) in listServer"><a ui-sref="app.LogsView({server:key})">{{key}}</a></li>
                        </ul>
                      </div>

                      <br>

                        <ul class="nav nav nav-pills nav-stacked" >
                          <li role="presentation" ng-class="{active: LayerName == activeLayer}" ng-click="selectLayer(LayerName)" ng-repeat="(LayerName, LayerValue) in logs"><a ui-sref="app.LogsView({server:server})">{{LayerName}}</a></li>
                        </ul>  
                    </div>
                    
                        <div class="col-md-11">
                            <ul class="nav nav-tabs">
                              <li role="presentation" ng-class="{active: DirName == activeDir}" ng-click="selectDir(DirName)" 
                              ng-repeat="(DirName, DirValue) in logs[activeLayer]"><a ui-sref="app.LogsView({server:server})">{{DirName}}</a>
                              </li>
                            </ul>

                            <div class="tab-content">
                                <br>

                                <div class="row">

                                    <!-- Pills Group containing FileName-->
                                    <div class="col-md-3">
                                        <ul class="nav nav-pills">
                                          <li role="presentation" ng-class="{active: FileName == activeFile}" ng-click="selectFile(FileName)" 
                                          ng-repeat="(FileName, FileValue) in logs[activeLayer][activeDir]"><a ui-sref="app.LogsView({server:server})"">{{FileName}}</a></li>
                                        </ul>
                                    </div>

                                    <!--File Last update date-->
                                    <div class="col-md-3">
                                        <dl>
                                            <dt>Data aggiornamento</dt>
                                            <dd>{{logs[activeLayer][activeDir][activeFile].Stats.mtime | date:'fullDate' }}</dd>
                                        </dl>
                                    </div>

 


                                    <!-- SearchBox group including the Dropdown on the field select-->
                                    <div class="col-md-1">



                                       <div class="form-group">
                                        <select ng-init="field = $" class="form-control" ng-model="field">
                                          <option selected value="$">All</option>
                                          <option value="{{HeaderName}}" ng-repeat="HeaderName in logs[activeLayer][activeDir][activeFile].Header">{{HeaderName}}</option>
                                        </select>
                                      </div>

                                    </div>

                                    <div class="col-md-3">
                                          <div class="inner-addon right-addon">
                                            <i class="glyphicon glyphicon-search"></i>
                                            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText[field]">
                                          </div> 
                                    </div>   


                                    <div class="col-md-2">
                                         <h4><a ui-sref="app.LogsView({server:server})""><span class="glyphicon glyphicon-refresh" aria-hidden="true" ng-click="getLayerLog(server,activeLayer)" ></span></a>  
                                         <a ui-sref="app.LogsView({server:server})""><span class="glyphicon glyphicon-th-list" aria-hidden="true" ng-click="openModalShowTabFields()" ></span></a></h4>
                                    </div>

                                </div>

                                 <table class="table table-hover table-striped">
                                     <thead>
                                      <tr>
                                        <th ng-repeat="HeaderName in logs[activeLayer][activeDir][activeFile].Header" ng-if="showColl(activeLayer,activeDir,activeFile,HeaderName)">{{HeaderName}}</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                      <tr ng-repeat="(RecName, RecVal) in logs[activeLayer][activeDir][activeFile].Records | filter:searchText" ng-click="openModalShowAllFields(RecName)" class="{{highlights(RecVal)}}">
                                         <td ng-repeat="(Key,val) in RecVal" ng-if="showColl(activeLayer,activeDir,activeFile,Key)">{{val}}</td> 

                                      </tr>
                                 </table>

                            </div>
                        </div>

                </div>

            </div>
            </div>

