
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showlogs">
                <h3>{{messageLog}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showlogs">        
          
                <h1>Dettaglio Log</h1>

                                    

                    <div ng-repeat="(ServerName, ServerLog) in logs">

                         <div ng-repeat="(LayerName, LayerValue) in ServerLog">

                             <div ng-repeat="(LevelName, LevelValue) in LayerValue">

                                 <div ng-repeat="(FileName, FileLogs) in LevelValue">

             

                                        
                                         

<table class="table table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th ng-repeat="field in logHeader">{{field}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(RecordsKey, RecordsValue) in FileLogs">
            <td ng-repeat="(FieldKey, FieldValue) in RecordsValue">{{ FieldValue }}</td>
        </tr>
    </tbody>
</table>


                                              
                                 </div>  
                             </div>  
                         </div>       
                    </div>


            </div>
            </div>

