<div modal="showModal" close="cancel()">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4>Select Coloumn</h4>
  </div>
  <div class="modal-body">

  <div class="row">
      <div class="col-md-6">
        <ul>
          <li ng-repeat="(Key,val) in listServer['localhost']['layers'][activeLayer][activeDir][activeFile]" ng-hide="$odd">
            <input type="checkbox" ng-model="listServer['localhost']['layers'][activeLayer][activeDir][activeFile][Key].show" ng-true-value="'YES'" ng-false-value="'NO'">
            <label>{{listServer['localhost']['layers'][activeLayer][activeDir][activeFile][val].name}} - {{Key}}</label>
          </li>
        </ul>        
      </div>       

      <div class="col-md-6">
        <ul>
          <li ng-repeat="(Key,val) in listServer['localhost']['layers'][activeLayer][activeDir][activeFile]" ng-hide="$even">
            <input type="checkbox" ng-model="listServer['localhost']['layers'][activeLayer][activeDir][activeFile][Key].show" ng-true-value="'YES'" ng-false-value="'NO'">
            <label>{{listServer['localhost']['layers'][activeLayer][activeDir][activeFile][val].name}} - {{Key}}</label>
          </li>
        </ul>        
      </div>  

  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok(listServer)">Okay</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</div>